body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
 /* color: ;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 700;
}

h2{
  font-weight:500;
  font-size:40px;
}

p{
  font-size:20px;
}
img {
  width:300px;

}

a{
  color:#af6be1;
  text-decoration:none;
}


